.footer{
    background:#081B3D;
    color:#fff;
    padding:70px 5% 20px;
}

.footer-container{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.5fr;
    gap:40px;
}

.footer-box h2,
.footer-box h3{
    margin-bottom:20px;
}

.footer-box p{
    color:#cbd5e1;
    line-height:1.8;
}

.footer-box a{
    display:block;
    color:#cbd5e1;
    text-decoration:none;
    margin-bottom:12px;
    transition:.3s;
}

.footer-box a:hover{
    color:#FFB703;
    padding-left:6px;
}

.social-icons{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.social-icons a{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#0F4C81;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:18px;
    transition:.3s;
}

.social-icons a:hover{
    background:#FFB703;
    color:#081B3D;
}

.footer-bottom{
    margin-top:50px;
    border-top:1px solid rgba(255,255,255,.15);
    padding-top:20px;
    text-align:center;
    color:#94a3b8;
}

@media(max-width:900px){

.footer-container{
    grid-template-columns:1fr;
    text-align:center;
}

.social-icons{
    justify-content:center;
}
}