<section id="home" class="hero">

    <video id="bgVideo" class="hero-video" autoplay muted loop playsinline>
        <source src="https://www.pexels.com/download/video/32821434/" type="video/mp4">
    </video>

    <div class="overlay"></div>

    <div class="hero-content">

        <h2>CONCIERGEIQ</h2>

        <h1>Discover Your Perfect Journey</h1>

        <p>Luxury Hotels • Restaurants • Events • Destinations</p>

        <div class="hero-buttons">

            <button class="login-btn" (click)="goToLogin()">
                <i class="bi bi-person-circle"></i>
                Login
            </button>

            <button class="map-btn" (click)="goToMap()">
                <i class="bi bi-map-fill"></i>
                Explore Map
            </button>

        </div>

    </div>

</section>