<section id="destinations" class="destinations">
<div class="section-title">
    <span>Explore India</span>
    <h2>Popular Destinations</h2>
    <p>Discover beautiful destinations near our premium hotels</p>
</div>

<div class="destination-slider">

    <div class="destination-track">

        <!-- 1 -->
        <div class="destination-card">
            <div class="image-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvjCnxdn1DHZJ5U6-n0f7kJB_FDOqG6xf2dZ7XC4clVg&s=10"
                    alt="Mumbai">

                <div class="destination-badge">Popular</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>
            </div>

            <div class="destination-content">
                <h3>Mumbai Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Maharashtra, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(2,540 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>27°C</h4>
                    <button>Explore</button>
                </div>
            </div>
        </div>


        <!-- 2 -->
        <div class="destination-card">
            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg5neHt03POKuj6Q6V1ZJpC02e3QcLoJKIWXgs6L5tAg&s=10"
                    alt="Hyderabad">

                <div class="destination-badge">Trending</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="destination-content">

                <h3>Charminar</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Telangana, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(2,110 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>30°C</h4>
                    <button>Explore</button>
                </div>

            </div>
        </div>


        <!-- 3 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsE_QJ0FjH1ueryt3zXWtu0ZT_MYpGgwe6G-dKF0qY8g&s=10"
                    alt="Bengaluru">

                <div class="destination-badge">Top Rated</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Shivasamudra Falls</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Karnataka, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(1,980 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>24°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 4 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQfo6LWZuIBqrL0yZ0dph6LhfPmn2nMFIVs8KwFfarow&s=10"
                    alt="Visakhapatnam">

                <div class="destination-badge">Beach</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Kailasa Giri</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Andhra Pradesh, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(1,760 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>28°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 5 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj4svZEHtINwSr0qooj8KPbVsAOoRFNoQs6QiUhtTCoA&s=10"
                    alt="Goa">

                <div class="destination-badge">Holiday</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Goa Sandy Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Goa, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(3,210 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>29°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 6 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa89xDIRrerQ2aF6KA6wymKvEhyuoKzhrcHOpKz9iaJw&s=10"
                    alt="Kochi">

                <div class="destination-badge">Nature</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Kochi Castle</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Kerala, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(2,040 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>26°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>
        <div class="destination-card">
            <div class="image-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvjCnxdn1DHZJ5U6-n0f7kJB_FDOqG6xf2dZ7XC4clVg&s=10"
                    alt="Mumbai">

                <div class="destination-badge">Popular</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>
            </div>

            <div class="destination-content">
                <h3>Mumbai Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Maharashtra, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(2,540 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>27°C</h4>
                    <button>Explore</button>
                </div>
            </div>
        </div>


        <!-- 2 -->
        <div class="destination-card">
            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg5neHt03POKuj6Q6V1ZJpC02e3QcLoJKIWXgs6L5tAg&s=10"
                    alt="Hyderabad">

                <div class="destination-badge">Trending</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="destination-content">

                <h3>Charminar</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Telangana, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(2,110 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>30°C</h4>
                    <button>Explore</button>
                </div>

            </div>
        </div>


        <!-- 3 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsE_QJ0FjH1ueryt3zXWtu0ZT_MYpGgwe6G-dKF0qY8g&s=10"
                    alt="Bengaluru">

                <div class="destination-badge">Top Rated</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Shivasamudra Falls</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Karnataka, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(1,980 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>24°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 4 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQfo6LWZuIBqrL0yZ0dph6LhfPmn2nMFIVs8KwFfarow&s=10"
                    alt="Visakhapatnam">

                <div class="destination-badge">Beach</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Kailasa Giri</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Andhra Pradesh, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(1,760 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>28°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 5 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj4svZEHtINwSr0qooj8KPbVsAOoRFNoQs6QiUhtTCoA&s=10"
                    alt="Goa">

                <div class="destination-badge">Holiday</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Goa Sandy Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Goa, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(3,210 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>29°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 6 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa89xDIRrerQ2aF6KA6wymKvEhyuoKzhrcHOpKz9iaJw&s=10"
                    alt="Kochi">

                <div class="destination-badge">Nature</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Kochi Castle</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Kerala, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(2,040 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>26°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>
        <div class="destination-card">
            <div class="image-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvjCnxdn1DHZJ5U6-n0f7kJB_FDOqG6xf2dZ7XC4clVg&s=10"
                    alt="Mumbai">

                <div class="destination-badge">Popular</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>
            </div>

            <div class="destination-content">
                <h3>Mumbai Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Maharashtra, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(2,540 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>27°C</h4>
                    <button>Explore</button>
                </div>
            </div>
        </div>


        <!-- 2 -->
        <div class="destination-card">
            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg5neHt03POKuj6Q6V1ZJpC02e3QcLoJKIWXgs6L5tAg&s=10"
                    alt="Hyderabad">

                <div class="destination-badge">Trending</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="destination-content">

                <h3>Charminar</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Telangana, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(2,110 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>30°C</h4>
                    <button>Explore</button>
                </div>

            </div>
        </div>


        <!-- 3 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsE_QJ0FjH1ueryt3zXWtu0ZT_MYpGgwe6G-dKF0qY8g&s=10"
                    alt="Bengaluru">

                <div class="destination-badge">Top Rated</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Shivasamudra Falls</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Karnataka, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(1,980 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>24°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 4 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQfo6LWZuIBqrL0yZ0dph6LhfPmn2nMFIVs8KwFfarow&s=10"
                    alt="Visakhapatnam">

                <div class="destination-badge">Beach</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Kailasa Giri</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Andhra Pradesh, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(1,760 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>28°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 5 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj4svZEHtINwSr0qooj8KPbVsAOoRFNoQs6QiUhtTCoA&s=10"
                    alt="Goa">

                <div class="destination-badge">Holiday</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Goa Sandy Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Goa, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(3,210 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>29°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 6 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa89xDIRrerQ2aF6KA6wymKvEhyuoKzhrcHOpKz9iaJw&s=10"
                    alt="Kochi">

                <div class="destination-badge">Nature</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Kochi Castle</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Kerala, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(2,040 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>26°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>
        <div class="destination-card">
            <div class="image-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvjCnxdn1DHZJ5U6-n0f7kJB_FDOqG6xf2dZ7XC4clVg&s=10"
                    alt="Mumbai">

                <div class="destination-badge">Popular</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>
            </div>

            <div class="destination-content">
                <h3>Mumbai Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Maharashtra, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(2,540 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>27°C</h4>
                    <button>Explore</button>
                </div>
            </div>
        </div>


        <!-- 2 -->
        <div class="destination-card">
            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg5neHt03POKuj6Q6V1ZJpC02e3QcLoJKIWXgs6L5tAg&s=10"
                    alt="Hyderabad">

                <div class="destination-badge">Trending</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="destination-content">

                <h3>Charminar</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Telangana, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(2,110 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>30°C</h4>
                    <button>Explore</button>
                </div>

            </div>
        </div>


        <!-- 3 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsE_QJ0FjH1ueryt3zXWtu0ZT_MYpGgwe6G-dKF0qY8g&s=10"
                    alt="Bengaluru">

                <div class="destination-badge">Top Rated</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Shivasamudra Falls</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Karnataka, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(1,980 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>24°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 4 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQfo6LWZuIBqrL0yZ0dph6LhfPmn2nMFIVs8KwFfarow&s=10"
                    alt="Visakhapatnam">

                <div class="destination-badge">Beach</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Kailasa Giri</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Andhra Pradesh, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(1,760 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>28°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 5 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj4svZEHtINwSr0qooj8KPbVsAOoRFNoQs6QiUhtTCoA&s=10"
                    alt="Goa">

                <div class="destination-badge">Holiday</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Goa Sandy Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Goa, India
                </p>

                <div class="rating">
                    ⭐ 4.9 <span>(3,210 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>29°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


        <!-- 6 -->
        <div class="destination-card">

            <div class="image-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa89xDIRrerQ2aF6KA6wymKvEhyuoKzhrcHOpKz9iaJw&s=10"
                    alt="Kochi">

                <div class="destination-badge">Nature</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>


            <div class="destination-content">

                <h3>Kochi Castle</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Kerala, India
                </p>

                <div class="rating">
                    ⭐ 4.8 <span>(2,040 Reviews)</span>
                </div>

                <div class="price-row">
                    <h4>26°C</h4>
                    <button>Explore</button>
                </div>

            </div>

        </div>


    </div>

</div>
</section>