<section class="search-section">
  <div class="search-container">

    <div class="search-box">

      <div class="field">
        <label>Destination</label>
        <input type="text" placeholder="Where are you going?">
      </div>

      <div class="field">
        <label>Check In</label>
        <input type="date">
      </div>

      <div class="field">
        <label>Check Out</label>
        <input type="date">
      </div>

      <div class="field">
        <label>Guests</label>
        <select>
          <option>1 Adult</option>
          <option>2 Adults</option>
          <option>Family</option>
        </select>
      </div>

      <button class="search-btn">
        <i class="bi bi-search"></i>
        Search
      </button>

    </div>

  </div>


</section>