<section class="login-page">

    <div class="overlay"></div>

    <div class="login-card">

        <div class="logo">
            <i class="bi bi-airplane-fill"></i>
            <h2>ConciergeIQ</h2>
            <p>Luxury Travel Experience</p>
        </div>

        <h3>Welcome Back</h3>

        <form>

            <div class="input-box">
                <i class="bi bi-envelope-fill"></i>
                <input type="email" placeholder="Email Address">
            </div>

            <div class="input-box">
                <i class="bi bi-lock-fill"></i>
                <input type="password" placeholder="Password">
            </div>

            <div class="remember">

                <label>
                    <input type="checkbox">
                    Remember Me
                </label>

                <a href="#">Forgot Password?</a>

            </div>

            <button class="login-btn">
                Login
            </button>

        </form>

        <div class="bottom-text">

            Don't have an account?

            <a href="#">Sign Up</a>

        </div>

        <button class="home-btn">
            ← Back to Home
        </button>
        

    </div>

</section>