<section id="hotels" class="hotels">
<div class="section-title">
    <span>Luxury Collection</span>
    <h2>Featured Hotels</h2>
    <p>Find the best hotels for your perfect stay</p>
</div>
<div class="hotel-slider">


    <div class="hotel-track">

        <!-- Hotel 1 -->
        <div class="hotel-card">

            <div class="image-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpIce4UUI1NpbihO4gy1sSI40X5G7hmIcGLL6CxqOriPSQTtZTcBx8l28&s=10"
                    alt="Taj Mahal Palace">

                <div class="hotel-badge">Luxury</div>
                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>
            </div>

            <div class="hotel-content">

                <h3>The Taj Mahal Palace</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Mumbai, India
                </p>

                <div class="rating">
                    ⭐ 4.8
                    <span>(1,245 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹8,499 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 2 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://content.jdmagicbox.com/v2/comp/hyderabad/f8/040pxx40.xx40.150714122320.e3f8/catalogue/oakwood-residence-kapil-hyderabad-gachibowli-hyderabad-apartment-hotels-32o9hud.jpg">

                <div class="hotel-badge">Popular</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Oakwood Residence Kapil</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Hyderabad, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(2,015 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹12,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 3 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://assets.simplotel.com/simplotel/image/upload/x_0,y_215,w_4288,h_2412,c_crop,q_80,fl_progressive/w_900,h_506,f_auto,c_fit/pride-hotel-bengaluru/Hotel_Exterior_Bldg_qzx0kh">

                <div class="hotel-badge">Top Rated</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>The Pride Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Bengaluru, India
                </p>

                <div class="rating">
                    ⭐ 4.7
                    <span>(980 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹10,250 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 4 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGQCxUlxM2JUzcNu2PU61r_PbXEb_2VDQ3kflgJkTJrw&s=10">

                <div class="hotel-badge">Beach View</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Novotel Near Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Visakhapatnam, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(1,587 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹15,499 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 5 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/20/d0/42/exterior.jpg?w=900&h=500&s=1">

                <div class="hotel-badge">Premium</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>The Gateway Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Visakhapatnam, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(2,845 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹18,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 6 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc47plH2LpgxQNBzxdg6p5ggImSOzV25Sj5Z6q5EyflOiVb4hKbnLVsnQ&s=10">

                <div class="hotel-badge">Best Choice</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Gokulam Park Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Kerala, India
                </p>

                <div class="rating">
                    ⭐ 4.8
                    <span>(1,920 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹11,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>
        <div class="hotel-card">

            <div class="image-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpIce4UUI1NpbihO4gy1sSI40X5G7hmIcGLL6CxqOriPSQTtZTcBx8l28&s=10"
                    alt="Taj Mahal Palace">

                <div class="hotel-badge">Luxury</div>
                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>
            </div>

            <div class="hotel-content">

                <h3>The Taj Mahal Palace</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Mumbai, India
                </p>

                <div class="rating">
                    ⭐ 4.8
                    <span>(1,245 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹8,499 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 2 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://content.jdmagicbox.com/v2/comp/hyderabad/f8/040pxx40.xx40.150714122320.e3f8/catalogue/oakwood-residence-kapil-hyderabad-gachibowli-hyderabad-apartment-hotels-32o9hud.jpg">

                <div class="hotel-badge">Popular</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Oakwood Residence Kapil</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Hyderabad, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(2,015 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹12,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 3 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://assets.simplotel.com/simplotel/image/upload/x_0,y_215,w_4288,h_2412,c_crop,q_80,fl_progressive/w_900,h_506,f_auto,c_fit/pride-hotel-bengaluru/Hotel_Exterior_Bldg_qzx0kh">

                <div class="hotel-badge">Top Rated</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>The Pride Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Bengaluru, India
                </p>

                <div class="rating">
                    ⭐ 4.7
                    <span>(980 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹10,250 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 4 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGQCxUlxM2JUzcNu2PU61r_PbXEb_2VDQ3kflgJkTJrw&s=10">

                <div class="hotel-badge">Beach View</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Novotel Near Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Visakhapatnam, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(1,587 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹15,499 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 5 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/20/d0/42/exterior.jpg?w=900&h=500&s=1">

                <div class="hotel-badge">Premium</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>The Gateway Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Visakhapatnam, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(2,845 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹18,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 6 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc47plH2LpgxQNBzxdg6p5ggImSOzV25Sj5Z6q5EyflOiVb4hKbnLVsnQ&s=10">

                <div class="hotel-badge">Best Choice</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Gokulam Park Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Kerala, India
                </p>

                <div class="rating">
                    ⭐ 4.8
                    <span>(1,920 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹11,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>
        <div class="hotel-card">

            <div class="image-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpIce4UUI1NpbihO4gy1sSI40X5G7hmIcGLL6CxqOriPSQTtZTcBx8l28&s=10"
                    alt="Taj Mahal Palace">

                <div class="hotel-badge">Luxury</div>
                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>
            </div>

            <div class="hotel-content">

                <h3>The Taj Mahal Palace</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Mumbai, India
                </p>

                <div class="rating">
                    ⭐ 4.8
                    <span>(1,245 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹8,499 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 2 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://content.jdmagicbox.com/v2/comp/hyderabad/f8/040pxx40.xx40.150714122320.e3f8/catalogue/oakwood-residence-kapil-hyderabad-gachibowli-hyderabad-apartment-hotels-32o9hud.jpg">

                <div class="hotel-badge">Popular</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Oakwood Residence Kapil</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Hyderabad, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(2,015 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹12,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 3 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://assets.simplotel.com/simplotel/image/upload/x_0,y_215,w_4288,h_2412,c_crop,q_80,fl_progressive/w_900,h_506,f_auto,c_fit/pride-hotel-bengaluru/Hotel_Exterior_Bldg_qzx0kh">

                <div class="hotel-badge">Top Rated</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>The Pride Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Bengaluru, India
                </p>

                <div class="rating">
                    ⭐ 4.7
                    <span>(980 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹10,250 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 4 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGQCxUlxM2JUzcNu2PU61r_PbXEb_2VDQ3kflgJkTJrw&s=10">

                <div class="hotel-badge">Beach View</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Novotel Near Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Visakhapatnam, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(1,587 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹15,499 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 5 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/20/d0/42/exterior.jpg?w=900&h=500&s=1">

                <div class="hotel-badge">Premium</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>The Gateway Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Visakhapatnam, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(2,845 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹18,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 6 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc47plH2LpgxQNBzxdg6p5ggImSOzV25Sj5Z6q5EyflOiVb4hKbnLVsnQ&s=10">

                <div class="hotel-badge">Best Choice</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Gokulam Park Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Kerala, India
                </p>

                <div class="rating">
                    ⭐ 4.8
                    <span>(1,920 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹11,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>
        <div class="hotel-card">

            <div class="image-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpIce4UUI1NpbihO4gy1sSI40X5G7hmIcGLL6CxqOriPSQTtZTcBx8l28&s=10"
                    alt="Taj Mahal Palace">

                <div class="hotel-badge">Luxury</div>
                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>
            </div>

            <div class="hotel-content">

                <h3>The Taj Mahal Palace</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Mumbai, India
                </p>

                <div class="rating">
                    ⭐ 4.8
                    <span>(1,245 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹8,499 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 2 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://content.jdmagicbox.com/v2/comp/hyderabad/f8/040pxx40.xx40.150714122320.e3f8/catalogue/oakwood-residence-kapil-hyderabad-gachibowli-hyderabad-apartment-hotels-32o9hud.jpg">

                <div class="hotel-badge">Popular</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Oakwood Residence Kapil</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Hyderabad, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(2,015 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹12,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 3 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://assets.simplotel.com/simplotel/image/upload/x_0,y_215,w_4288,h_2412,c_crop,q_80,fl_progressive/w_900,h_506,f_auto,c_fit/pride-hotel-bengaluru/Hotel_Exterior_Bldg_qzx0kh">

                <div class="hotel-badge">Top Rated</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>The Pride Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Bengaluru, India
                </p>

                <div class="rating">
                    ⭐ 4.7
                    <span>(980 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹10,250 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 4 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGQCxUlxM2JUzcNu2PU61r_PbXEb_2VDQ3kflgJkTJrw&s=10">

                <div class="hotel-badge">Beach View</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Novotel Near Beach</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Visakhapatnam, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(1,587 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹15,499 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 5 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/20/d0/42/exterior.jpg?w=900&h=500&s=1">

                <div class="hotel-badge">Premium</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>The Gateway Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Visakhapatnam, India
                </p>

                <div class="rating">
                    ⭐ 4.9
                    <span>(2,845 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹18,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

        <!-- Hotel 6 -->

        <div class="hotel-card">

            <div class="image-box">

                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc47plH2LpgxQNBzxdg6p5ggImSOzV25Sj5Z6q5EyflOiVb4hKbnLVsnQ&s=10">

                <div class="hotel-badge">Best Choice</div>

                <div class="wishlist">
                    <i class="bi bi-heart"></i>
                </div>

            </div>

            <div class="hotel-content">

                <h3>Gokulam Park Hotel</h3>

                <p class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    Kerala, India
                </p>

                <div class="rating">
                    ⭐ 4.8
                    <span>(1,920 Reviews)</span>
                </div>

                <div class="price-row">

                    <h4>₹11,999 / night</h4>

                    <button>Book Now</button>

                </div>

            </div>

        </div>

    </div>
</div>
</section>
