<section class="reviews" id="reviews">

    <div class="section-title">
        <span>Testimonials</span>
        <h2>What Our Travelers Say</h2>
        <p>Real experiences shared by our happy guests</p>
    </div>

    <div class="review-slider">

        <div class="review-container">

            <div class="review-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg_cVSHIzxZD9jipCZ6YWIV3FVTWLUWcl83Ax9Q-Y7qg&s" alt="rahul sharma">
                <h3>Rahul Sharma</h3>
                <span>Mumbai, Maharashtra</span>
                <div class="stars">★★★★★</div>
                <p>
                    Everything was perfectly planned. Hotels,
                    restaurants and local events were amazing.
                </p>
            </div>

            <div class="review-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB7AtLWLej7dstsVfrjXdMRgECdrIwKDp499YTzh7G7g&s=10" alt="priya reddy">
                <h3>Priya Reddy</h3>
                <span>Hyderabad, India</span>
                <div class="stars">★★★★★</div>
                <p>
                    The itinerary saved me so much time.
                    I explored places I would have otherwise missed.
                </p>
            </div>

            <div class="review-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA9wdwuRpH6bV-Ji3CqHoXFSVUG_ikC7M5QkUHByeOwA&s=10" alt="Arjun Mehta">
                <h3>Arjun Mehta</h3>
                <span>Ahmedabad, Gujarat 🇮🇳</span>
                <div class="stars">★★★★☆</div>
                <p>
                    Beautiful recommendations with excellent
                    hotels and delicious restaurants.
                </p>
            </div>

            <div class="review-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtS6mBHMVTpLNOQmq-5N54zK6fZ6XyhfdrWkz00CXVFg&s=10" alt="Sneha Iyer">
                <h3>Sneha Iyer</h3>
                <span>Jaipur, Rajasthan </span>
                <div class="stars">★★★★★</div>
                <p>
                    Smooth travel planning experience.
                    Highly recommended for vacation lovers.
                </p>
            </div>

            <div class="review-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOL-IMHsrs9HkYjkNRLD6UMeKvIcoq54-bBr61fR6UNw&s=10" alt="Ananya Kapoor">
                <h3>Ananya Kapoor</h3>
                <span>New Delhi, Delhi </span>
                <div class="stars">★★★★★</div>
                <p>
                    Loved discovering local festivals
                    and hidden restaurants.
                </p>
            </div>

            <div class="review-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzcjbvCMDBMtyCGIc0zR6xVWYuFNJpAQB37ar9IUdEGQ&s=10" alt="Vikram Singh">
                <h3>Vikram Singh</h3>
                <span> Mumbai, Maharashtra </span>
                <div class="stars">★★★★★</div>
                <p>
                    Clean design and excellent
                    recommendations made our family trip unforgettable.
                </p>
            </div>

        </div>

    </div>

</section>