<section class="ai-chat" id="ai-chat">

    <div class="section-title">
        <span>AI TRAVEL ASSISTANT</span>
        <h2>Plan Your Perfect Journey</h2>
        <p>Get instant recommendations for hotels, restaurants, attractions and events.</p>
    </div>

    <div class="chat-container">

        <div class="chat-header">

            <div class="bot-profile">

                <div class="bot-icon">
                    <i class="bi bi-robot"></i>
                </div>

                <div class="bot-details">
                    <h3>ConciergeIQ AI</h3>
                    <span><i class="bi bi-circle-fill"></i> Online</span>
                </div>

            </div>

        </div>

        <div class="chat-body">

            <div class="message bot">

                <div class="avatar">
                    <i class="bi bi-robot"></i>
                </div>

                <div class="bubble">
                    Heyy! Welcome to ConciergeIQ.
                </div>

            </div>

            <div class="message bot">

                <div class="avatar">
                    <i class="bi bi-robot"></i>
                </div>

                <div class="bubble">
                    How can I help you today?
                </div>

            </div>

            <div class="message user">

                <div class="bubble">
                    Suggest places to visit in Goa.
                </div>

            </div>

            <div class="message bot">

                <div class="avatar">
                    <i class="bi bi-robot"></i>
                </div>

                <div class="bubble">

                    Sure!

                    <br><br>

                     Baga Beach

                    <br>

                    Calangute Beach

                    <br>

                    Fort Aguada

                    <br>

                    Sunset Cruise

                    <br>

                    Dudhsagar Waterfalls

                </div>

            </div>

        </div>

        <div class="quick-actions">

            <button> Hotels</button>

            <button> Restaurants</button>

            <button> Events</button>

            <button> Attractions</button>

            <button> Nearby</button>

        </div>

        <div class="chat-input">

            <input
            type="text"
            placeholder="Ask anything about your journey...">

            <button>

                <i class="bi bi-send-fill"></i>

            </button>

        </div>

    </div>

</section>